
.mission-link .icon{background:url(../images/mission.png) no-repeat center 0;}

.play-link .icon{background:url(../images/play.png) no-repeat center 0;}

.touch-link .icon{background:url(../images/touch.png) no-repeat center 0;}
